#root {
  height: 100%;
  width: 100%;
  background-image: url(65f883d84fc6b01bf48ca18d767c9a4d.jpeg);
  padding: 30px;
}
.title {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  padding-top: 10px;
  text-align: center;
  text-shadow: 0.04em 0.04em #fff, 0.08em 0.08em #a9a9a9;
}
.locate {
  margin-top: 100px;
}
.link-to-profiles {
  width: 180;
  border-color: #000;
}
.link-to-profiles:hover {
  border-color: #000;
}
.profile-title {
  color: #fff;
  font-size: 48px;
  font-weight: 1600;
  padding-top: 40px;
  text-shadow: 0.06em 0.06em grey, 0.12em 0.12em #000;
}
.profiles {
  margin-top: 20px;
  margin-bottom: 10px;
}
.botones-alto {
  height: 50px;
}
.botones-alto,
.botones-alto:hover {
  border-color: #000;
}
.botones-ancho {
  width: 250px;
}
.margen {
  margin-left: 10px;
}
h4 {
  margin-bottom: 0;
}
.crear_perfil {
  padding-top: 20px;
}
.boton-estilo,
.boton-estilo:hover {
  border-color: #fff;
}
.info-perfil {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
ul.info-perfil li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}
.scroll-bar {
  overflow-y: scroll;
}
.month-wrapper {
  margin-right: 40px;
  margin-bottom: 40px;
}
.month-box {
  width: 399px;
  height: 240px;
  padding: 0 20px 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0 0 20px 20px;
}
.month-label {
  background: #fff;
  font-size: 1.3rem;
  padding: 10px 0 6px 25px;
  border: 2px solid #000;
  border-radius: 20px 20px 0 0;
}
.days-label {
  height: 40px;
}
.botones-dia {
  width: 50px;
  weight: 30px;
  background-color: #fff;
  border: none;
  border-width: 1px !important;
  margin-right: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}
.botones-dia:hover {
  background-color: #afeeee;
}
.botones-dia.finde {
  background-color: #708090;
  color: #fff;
  cursor: auto;
}
.botones-dia.vacacion-oficial {
  background-color: #cd5c5c;
  color: #fff;
  cursor: auto;
}
.botones-dia.vacacion-pedida {
  background-color: #00ff7f;
  color: #000;
  cursor: auto;
}
.botones-dia.moscoso {
  background-color: #ff0;
  color: #000;
  cursor: auto;
}
.botones-dia.permiso {
  background-color: pink;
  color: #000;
  cursor: auto;
}
